.content {
    background: linear-gradient(190deg, rgb(60, 45, 45), rgb(109, 20, 20));
}

.about-me {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 3fr;
    align-items: center;
}

.about-me {
    padding: 1rem;
    margin-top: 2rem;
}

.about-me .about-text {
    color: white;
    margin-left: 15vw;


}

.about-me .about-img {
    margin-top: 7vh;
}

.about-me .about-text {
    font-size: 1.2rem;

}

.about-me .about-text p {
    margin-bottom: 1.5rem;
}

.about-me .about-text h1 {
    margin-bottom: 1rem;
}

.about-me .about-text div>ul {
    list-style-type: none;
}

.about-me .about-text div ul li {
    margin: 10px;
}

.about-me .about-text div ul li .far {
    margin-right: 5px;
}

.about-me .about-text div .tag-line {
    color: rgb(177, 104, 245);
}

.about-me .about-text div .tag-line-writer {
    color: rgb(177, 104, 245);
    margin-left: 150px;
}

/* ---------sklls-set------- */

.skills .skills-heading {
    color: white;
    font-size: 2.5rem;
}

.skills .technologies {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    /* margin: 1rem 6rem 0rem 6rem; */
}

.skills .technologies .topic {
    width: 15%;
    height: 16vh;
    border: 2px solid rgb(129, 129, 229);
    color: white;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 10px;
    margin: 0.8rem;
    transition: 1s ease-in-out;
}


.skills .technologies .topic i {
    font-size: 6rem;
    color: white;
    transition: 0.6s ease-in-out;
}

.skills .technologies .topic i:hover {
    color: white;
    scale: 1.1;
}

.skills .technologies .topic img {
    width: 5vw;
    height: 14vh;
    color: white;
    transition: 0.6s ease-in-out;
}

.skills .technologies .topic img:hover {
    scale: 1.2;
}

/* ------Tools--------- */

.Tools {
    color: white;
    height: 40vh;
}

.Tools .Tools-heading {
    font-size: 2.5rem;
}

.Tools .Tools-box {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    /* margin: 20px 100px 0px 100px; */
}


.Tools .Tools-box .tool {
    width: 12vw;
    height: 16vh;
    border: 2px solid rgb(129, 129, 229);
    color: white;
    text-align: center;
    padding: 1.2rem;
    border-radius: 10px;
    margin: 0.7rem;
    transition: 1s ease-in-out;
}

.Tools .Tools-box .tool img {
    width: 6vw;
    color: white;
    transition: 0.6s ease-in-out;
}

.Tools .Tools-box .tool i {
    font-size: 6rem;
    color: white;
    transition: 0.6s ease-in-out;
}

/* ------git-hub--------- */
.githubContainer {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.githubTitle {
    font-size: 4rem;
    color: #ffc5c5;
}

.dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.githubChart {
    width: 54vw;
    text-align: center;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.box {
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.active:nth-child(4n) {
    background-color: #1bbc49;
}

.githubChart:hover .active:nth-child(2n+1) {
    background-color: #265b19;
}

.githubChart:hover .active:nth-child(2n) {
    background-color: #3b8e52;
}

.githubSm {
    display: none;
}

/* ---------footer-------- */

footer {
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10vh;
}


/* ------------media-queries------------ */

@media screen and (max-width:1800px) {

    .githubContainer {
        display: none;
    }
}


@media screen and (max-width:1075px) {
    .about-img img {
        display: none;
    }

    .about-text {
        width: 100%;
        margin-left: 1rem;
    }

    .githubContainer {
        display: none;
    }

    .Tools .Tools-box .tool img {
        width: 10vw;
    }
}


@media screen and (max-width:800px) {
    .skills .technologies .topic i {
        font-size: 4rem;
    }

    .skills .technologies .topic img {
        width: 5vw;
        height: 9vh;
        transition: 0.6s ease-in-out;
    }

    .skills .technologies .topic {
        width: 15%;
        height: 13vh;
    }

    .skills .technologies .topic p {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:666px) {
    .Tools {
        margin-top: 13rem;
    }
}




@media screen and (max-width:412px) {
    .skills .technologies {
        display: flex;
        justify-content: center;
        height: 100vh;
        flex-wrap: wrap;
    }

    .skills .technologies .topic {
        display: flex;
        justify-content: center;
        height: 100vh;
        flex-wrap: wrap;
        height: 10vh;
    }


    .Tools {
        color: white;
        height: 40vh;
    }

    .Tools .Tools-box {
        /* display: flex; */
        justify-content: center;
        height: 100vh;
        flex-wrap: wrap;
    }

    .Tools .Tools-box .tool {
        height: 10vh;
        width: 7vh;
    }

    .Tools .Tools-box .tool i {
        font-size: 3rem;
    }
}


@media screen and (max-width:360px) {
    .about-me .about-text {
        margin: 1rem 2rem;
    }
}